* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    /* width: 100%; */
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0, 8, 51, 0.9), rgba(0, 8, 51, 0.9)), url(images/bailey-zindel-NRQV-hBF10M-unsplash.jpg);
    background-position: center;
    background-size: covers;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resources {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title,
.resources,
.resources a {
    color: #fff;
    text-decoration: none;
}

.resources a:hover {
    color: #cac7ff;
}

.search-bar {
    width: 100%;
    max-width: 43.75rem;
    display: flex;
    align-items: center;
    border-radius: 3.75rem;
    padding: 0.625rem 1.25rem;
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    backdrop-filter: blur(4px) saturate(180%);

    /* backdrop-filter alternative for Firefox */
    background: rgb(255, 255, 255, 0.2);
}

.search-bar input {
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 1.5rem 1.25rem;
    font-size: 1.25rem;
    color: #cac7ff;
}

::placeholder {
    color: #cac7ff;
}

.search-bar button img {
    width: 1.5625rem;

}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;

    /* default color */
    /* background-color: #58629b; */

    /* Firefox color */
    background-color: #7882bb;
    cursor: pointer;
    padding: 1.125rem;
}

.user-cards {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex: 0 1 24%;
    margin: 10px;
    color: #cac7ff;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 1.5rem;
}

h2 {
    margin-bottom: 0.25rem;
}

.hide {
    display: none;
}
